@tailwind base;
@tailwind components;
@tailwind utilities;



.parentcontainer {
  box-sizing: border-box;
width: 100%;
height: 739px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031926;
  padding: 50px 0;
  background-size: auto        ;
}

.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.main-content {
  flex: 1;
  color: #9DBEBB;
  padding-right: 20px;
}

.main-content h1 {
  font-size: 3.7rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F4E9CD;
}

.main-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.contact-button {
  padding: 15px 30px;
  background-color: #77ACA2;
  color: #031926;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-button:hover {
  background-color: #5149d8;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}



.profileImage {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #6c63ff;
  box-shadow: 10px 10px 35px 10px rgba(236, 230, 230, 0.2);
}
